html {
  background: url(../images/cliff.jpg) no-repeat top left;
}


@media screen and (min-device-width: 800px)
and (max-device-width: 1196px)

  {
    #bear {
      position: absolute;
      top: 100px;
      bottom: 10;}

}
/* Write your solution here */
